@import '_colors.css';

/*
* BASIC SETUP
*/
:global(#root) {
  min-height: inherit;
}

html,
body {
  background-color: var(--white);
  color: var(--dark-gray);
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  font-family: “Roboto”, “Helvetica Neue”, sans-serif;
}
